:host {
  --primary-color: #4285F4;
  --secondary-color: #000;
  --text-color: #fff;
  --white: #fff;
  font-family: 'Poppins', sans-serif;
  --keyboard-offset: 20px;
}

.keyboard-open {
  padding-bottom: 300px;
}


/* Contenedor del carrusel de fondo */
.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

/* Cada slide de imagen */
.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Activa el slide actual */
.carousel-slide.active {
  opacity: 1;
}

/* Contenedor principal del login */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Tarjeta flotante */
.form-container {
  background: rgba(0, 0, 0, 0.9);
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 5%;
}

.google-icon img {
  width: 100px;
  margin-bottom: 10px;
}

/* Título */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 5px;
}

/* Botón */
.btn {
  --background: var(--primary-color);
  --color: var(--white);
  font-weight: bold;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
}

ion-content {
  scroll-padding-bottom: 100px;
}
