

<ion-content [fullscreen]="true" keyboard-attach class="content-background">

  <!-- Contenedor del carrusel -->
  <div class="carousel-container">
    <div class="carousel-slide active" style="background-image: url('assets/image1.jpg');"></div>
    <div class="carousel-slide" style="background-image: url('assets/image2.jpg');"></div>
    <div class="carousel-slide" style="background-image: url('assets/image3.jpg');"></div>
    <div class="carousel-slide" style="background-image: url('assets/image4.jpg');"></div>

  </div>

  <!-- Contenedor del login -->
  <div class="login-container">
    <div class="form-container">
      <div class="google-icon">
        <img src="assets/logo.png" alt="logo">
      </div>

      <h1 class="title ion-padding">Bienvenidos</h1>

      <form>
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            labelPlacement="stacked"
            [clearInput]="true"
            name="email"
            type="email"
            class="input"
            placeholder="Email or Phone">
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            [(ngModel)]="password"
            name="password"
            type="password"
            labelPlacement="stacked"
            class="input"
            placeholder="Password">
          </ion-input>
        </ion-item>

        <div class="button-wrapper">
          <ion-button expand="full" (click)="login()" class="btn">Iniciar Sesion</ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
