<ion-content class="tab1">

  <div class="container" >

    <form >
      <div class="title-card">
        <h2 class="title">Agregar Concursante</h2><br>

      </div>
      <div>

        <h2 class="ion-padding">Informacion sobre el concursante</h2>
        <ion-item>

          <ion-input
           [(ngModel)]="nombre"
           name="nombre"
            placeholder="Nombre de la presentacion"
            type="text"
            class="input"
            required>
          </ion-input>
        </ion-item>

        <ion-list class="ion-padding">
          <ion-item>
            <ion-select label="Categoría a participar" label-placement="floating" [(ngModel)]="categoria" name="categoria">
              <ion-select-option value="Talento Escenico">Talento Escénico</ion-select-option>
              <ion-select-option value="Talento Creativo">Talento Creativo</ion-select-option>
              <ion-select-option value="Otros Talentos">Otros Talentos</ion-select-option>
              <ion-select-option value="Oficios">Oficios</ion-select-option>
              <ion-select-option value="Canto">Canto</ion-select-option>
              <ion-select-option value="Coreografia">Coreografía</ion-select-option>
              <ion-select-option value="Musico">Músico</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="ion-padding">
          <ion-item>
            <ion-select label="Turno" label-placement="floating" [(ngModel)]="turno" name="turno">
              <ion-select-option value="Matutino">Matutino</ion-select-option>
              <ion-select-option value="Vespertino">Vespertino</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Integrantes de la presentacion" [(ngModel)]="nombreParticipante" name="nombreParticipante"></ion-input>
            <ion-button slot="end" (click)="agregarParticipante() " (click)="addConcursante()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let participante of participantes; let i = index">
            <ion-label>{{ participante }}</ion-label>
            <ion-button color="danger" (click)="participantes.splice(i,1)">Eliminar</ion-button>
          </ion-item>
        </ion-list>

        <div class="agregar">
          <ion-button type="button" expand="full" class="btn" (click)="agregarConcursante()">Agregar</ion-button>
        </div>
      </div>
    </form>
  </div>

</ion-content>
