:host {
  --primary-color: #4CAF50;
  --secondary-color: #f5eaea;
  --text-color: #fff;
  --background-color: #121212;
  font-family: 'Poppins', sans-serif;
}

ion-content {
  --background: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.title-card {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
}

form {
  width: 100%;
  max-width: 700px;
  background: var(--background-item);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 15px;
}

ion-item {
  --background: var(--background-item);
  --color: var(--text-color);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 10px;
  --inner-padding-end: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-input {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.lista {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #444;
  overflow: scroll;
}

ion-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px var(--shadow-color);
}

ion-label {
  font-size: 1rem;
  color: var(--secondary-color);
}

.agregar {
  margin-top: 20px;
}

.btn {
  --background: var(--primary-color);
  --color: var(--background-item);
  font-weight: bold;
  border-radius: 8px;
  padding: 15px;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(76, 175, 80, 0.5);
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .tab1 {
    justify-content: flex-start;
    margin-top: env(safe-area-inset-top);
    --padding-bottom: env(safe-area-inset-bottom);
  }
  .title {
    font-size: 1.5rem;
  }
  form {
    padding: 15px;
    width: 100%;
  }
  ion-item {
    margin-bottom: 12px;
  }
  ion-input {
    padding: 15px;
    font-size: 1rem;
  }
  .btn {
    padding: 12px;
    font-size: 1rem;
  }
}
