<ion-content class="tab3">
  <div class="container">
    <div class="title-card ion-padding ">

      <h2 class="title ion-padding ">Concursantes Evaluados</h2><br>
    </div>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categoriaSeleccionada" class="ion-padding">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</ion-select-option>
      </ion-select>

      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="ordenSeleccionado" class="ion-padding">
        <ion-select-option value="mayor">Mayor puntuación</ion-select-option>
        <ion-select-option value="menor">Menor puntuación</ion-select-option>
      </ion-select>
    </ion-item>
    <br>

    <ion-grid *ngIf="getConcursantesFiltrados().length > 0; else noResults">
      <ion-row>
        <ion-col><strong>Concursante</strong></ion-col>
        <ion-col><strong>Puntuación Final</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let concursante of getConcursantesPaginados()">
        <ion-col>{{ concursante.nombre }}</ion-col>
        <ion-col>{{ concursante.totalPuntos }}</ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #noResults>
      <p>No hay concursantes evaluados aún.</p>
    </ng-template>

  </div>
</ion-content>
<!-- Paginación -->
<ion-footer *ngIf="getTotalPages() > 1" class="footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
        Anterior
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Página {{ currentPage }} de {{ getTotalPages() }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="currentPage === getTotalPages()" (click)="changePage(currentPage + 1)">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
