<ion-header>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resultados</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2 class="title" style="text-align: center;">Concursantes Evaluados</h2><br>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categoriaSeleccionada">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</ion-select-option>
      </ion-select>

      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="ordenSeleccionado">
        <ion-select-option value="default">Por defecto</ion-select-option>
        <ion-select-option value="mayor">Mayor puntuación</ion-select-option>
        <ion-select-option value="menor">Menor puntuación</ion-select-option>
      </ion-select>
    </ion-item>
<br>
    <!-- <ion-item>
      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="ordenSeleccionado">
        <ion-select-option value="default">Por defecto</ion-select-option>
        <ion-select-option value="mayor">Mayor puntuación</ion-select-option>
        <ion-select-option value="menor">Menor puntuación</ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-grid *ngIf="getConcursantesFiltrados().length > 0; else noResults">
      <ion-row>
        <ion-col><strong>Concursante</strong></ion-col>
        <ion-col><strong>Puntuación Final</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let concursante of getConcursantesFiltrados()">
        <ion-col>{{ concursante.nombre }}</ion-col>
        <ion-col>{{ concursante.totalPuntos }}</ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #noResults>
      <p>No hay concursantes evaluados aún.</p>
    </ng-template>
  </div>
</ion-content>
