<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RankGo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RankGo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <section class="hero">
      <div class="hero-content">
        <h1>Tu día, <br> <span>tu forma.</span></h1>
        <p>Gestiona el trabajo y se mas eficaz, la única aplicación de productividad que necesitarás.</p>
        <ion-button expand="full" (click)="irALogin()">Iniciar Sesión</ion-button>
      </div>

      <div class="hero-image">
        <img src="assets/laptop-setup.jpg" alt="Laptop setup">
        <!-- <img src="/src/assets/logo.png" alt="logo" class="logo"> -->

      </div>
    </section>

    <section class="call-to-action">
      <p>La <strong>pérdida de tiempo</strong> es una epidemia. Estamos aquí para curarla.</p>
    </section>

  </div>
</ion-content>
